@use "@styles/variable.scss" as *;

.homeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $maincolor;
    font-size: 17px;
    align-items: center;


}

.buttons {
    display: flex;
    margin: 40px;
    justify-content: center;
    gap: 50px;
    padding: 30px;



    .buttonMC,
    .buttonMCV {
        padding: 10px 30px;
        border: 1px solid $maincolor;
        border-radius: 50px;
        color: $titlecolor;
        background-color: $maincolor;
        text-decoration: none;
    }
}

.about {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

/*.home-background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  background: url('@images/imageFond.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(12, 16, 11, 0.7);
  background-blend-mode: darken;

}


.home-background>* {
  position: relative;
  z-index: 1;
}*/