.titleProject {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mockupContent {
    border: 5px solid #208fd169;
    border-radius: 10px;

    .mockup {
        display: grid;
        grid-template-columns: 33% 33% 33%;

        img {
            width: 100%;

        }

    }

    .mockupProject {
        display: flex;
        flex-direction: column;
        align-items: center;

        ul {
            list-style: none;
            padding: 0;
            display: flex;
            gap: 4rem;
        }

    }

}