.titleProject {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    padding-top: 30px;
}

.mockupContent {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #9199993d;

    .mockup {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        gap: 10px;
        margin: 10px;

        img {
            width: 100%;
            box-shadow: 0 -3px 15px rgba(65, 56, 176, 0.75);

        }

    }

    .mockupProject {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;

        h2 {
            margin-bottom: 20px;
            text-align: center;
        }

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;
            gap: 2rem;
            width: 100%;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .pGrid {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            gap: 10px;
            width: 100%;

            p {
                margin: 0;
            }
        }
    }

}

.logo img{
    width: 50px; 
  height: auto; 
}

@media (max-width: 750px) {


    .mockupContent {

        .mockup,
        .mockupProject ul {
            display: flex;
            flex-direction: column;
        }
    }


}