@use "../styles/variable.scss" as *;

.footer {
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: black;
  width: 100vw;
  box-sizing: border-box;
  margin-left: calc(50% - 50vw);

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 4em;
    list-style: none;
  }

  li {
    a {
      display: flex;
      align-items: center;
      color: white;
      gap:5px;


      &.active {
        text-decoration: underline;

      }
    }
  }

  p {
    color: $titlecolor ;
  }

  .footer-logo {
    width: 40px;
    height: auto;
    color: black;
  }


}


@media (max-width: 480px) {


  .footer p {
    display: flex;
    flex-direction: column;
    font-size: 12px;
  }

}