header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1280px;

  img {
    width: 210px;
    height: 68px;

  }

  ul {
    display: flex;
    gap: 2.5em;
    list-style: none;
  }

  li {
    a {
      color: inherit;
      text-decoration: none;
      position: relative;

      &:hover,
      &:focus,
      &:active {
        color: inherit;
      }

      &.active {
        text-decoration: underline; 
        
      }
    }
  }

}

@media (max-width:480px) {

  header img {
    width: 145px;
    height: 46px;
  }

  header ul {
    font-size: 12px;
    text-transform: uppercase;
    gap: 1em;
  }
}