@use "@styles/variable.scss" as *;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  color: black;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;

  &.scrolled {
    background-color: rgba(233, 240, 240, 0.707);
    backdrop-filter: blur(6px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  }



  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 2.5em;
    list-style: none;
    padding-right: 20px;
  }

  li {
    a {
      color: inherit;
      text-decoration: none;
      position: relative;
      font-size: 17px;


      &:hover,
      &:focus,
      &:active {
        color: rgba(14, 31, 124, 0.4509803922);
        ;
      }



    }
  }

}

.header-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px; // padding horizontal ici
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 700px) {

  header {
    padding: 0px;
  }

}



@media (max-width: 600px) {



  header li a {

    font-size: 14px;
  }

}