@use "@styles/variable.scss" as *;

header {
  padding: 20px;
  box-sizing: border-box;
  max-width: 1280px;
  color: $maincolor;
  

  ul {
    display: flex;
    justify-content: flex-end;
    gap: 2.5em;
    list-style: none;
  }

  li {
    a {
      color: inherit;
      text-decoration: none;
      position: relative;
      font-size: 17px;

      &:hover,
      &:focus,
      &:active {
        color: inherit;
      }

      &.active {
        text-decoration: underline; 
        
      }
    }
  }

}

@media (max-width:480px) {

  header ul {
    font-size: 12px;
    text-transform: uppercase;
    gap: 1em;
  }
}