html,
body,
#root,
main {
  /*max-width: 1240px;*/
  margin: 0 auto;
  padding: 0;
}


/*.home-background {
  position: relative;
  height: 670px;
  width: 100vw;
  overflow: hidden;
  

  display: flex;
  flex-direction: column;
}


.home-background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  background: url('@images/imageFond.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(12, 16, 11, 0.7);
  background-blend-mode: darken;

}


.home-background>* {
  position: relative;
  z-index: 1;
}*/